*{
    padding: 0;
    margin: 0;
}

.top_Container{
    display: flex;
    background-color: aquamarine;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.main_container{
    display: flex;
    height: 100vh;
}

.left_notes{
    border-right: 1px solid gray;
    height: 100%;
    width: 30%;
}

.new_note{
    border-bottom: 1px solid gray;
    margin-top: 1px;
    display: flex;
    padding: 10px 10px;
    background-color: white;
    height: 45px;
}

.new_note h3{
    font-size: 12pt;
    margin-top: 10px;
}

.new_note button{
    width: 0%;
    height: 0%;
    border:none;
}
.fa-trash{
    border: none;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 11pt;
    transition: all 0.3s ease;
}

.fa-trash:hover {
    color: red;
}

.right_notepad{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    background-color: white;
    height: 100%;
    width: 70%;
}

.note-form {
    padding: 10px 15px;
}
form input{
    display: block;
    padding: 10px 15px;
    background-color: transparent;
    fill: none;
    border: none;
    font-size: 20pt;
    font-family: 'Libre Baskerville', serif;
    color: black;
}
textarea{
    background-color: transparent;
    width: 100%;
    font-family: 'Playfair Display', serif;
    margin-top: 15px;
    padding-left: 10px;
    margin-bottom: 15px;
    min-height: 100px;
    border: none;
}

form button{
    display: block;
}

#addNote{
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 10pt;
}

.top_Container-note{
    background-color: rgb(113, 216, 182);
    display: flex;
    align-items: center;
}
.top_Container-note h1{
    display: flex;
    margin-left: 30%;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
}

.top_Container-note a{
    font-family: 'Libre Baskerville', serif;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-size: 12pt;
    background-color: rgb(121, 245, 204);
    border-radius: 10px;
    margin-left: 20px;
    border: 1px solid rgb(115, 239, 198);
    box-shadow: 2px 2px 3px 1px rgb(120, 241, 201);
}

.note_view{
    padding: 20px 15px;
}

h2{
    font-size: 22pt;
    font-family: 'Libre Baskerville', serif;
}
p{
    font-family: 'Playfair Display', serif;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16pt;
}

        
    